* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}


a {
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding:5px 0;
    background:  #209cdf ;
}
.medsos ul li {
    display: inline-block;
    color:  #fff;
    margin-right: 10px;
}
.container {
    width:80%;
    margin:0 auto;
}
.container:after {
    content:'';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding:15px 0;
    color:  #209cdf;
}
header ul {
    float: right;
}   
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header ul li a:hover  {
    background-color: #209cdf;
    color: #fff;
}
.active {
    background-color: #209cdf;
    color: #fff; 
}
.banner {
    height: 60vh;
    background-image: url('../img/banner.jpg.jfif');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( 32, 156, 223, .6); 
}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color:   #209cdf;
}
.about p{
    color: #06064d;
    word-spacing: 2px;
    line-height: 25px;
}
.contact {
    background-color: #b3b3b3;
}
footer{
    padding: 30px 0;
    background-color:  #0351c2;
    text-align: center;
}
.service{
    background-color:  #f9f9f9;
}
.box{
    color: #0351c2;
}
.box:after {
    content: " ";
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: 20px;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    
}
.box .col-4 h4{
    margin: 20px 0;
}
